# Discord Webhook URL (from Discord Channel -> Integrations -> Webhooks)
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1531451823649587251/pvm6JYT2gp3dZIBKR2NnXT04zKwHMHzIYY6uBYzNMnZghuuM5wvcPrwNSiRRDHi5iBPr

# Comma-separated list of X (Twitter) handles to track
ACCOUNTS=sunnewstamil,News18TamilNadu,polimernews,NewsTamilTV24x7
